scraper-data-c {
  margin: 0 0 1rem 0;
  display: grid;
  grid-template-rows: var(--app-header-height) 3rem 1fr;

  & > header {
    padding: 0 0 0 3rem;
    font-size: 1.25rem;
    font-weight: 600;

    display: grid;
    background: var(--bkg-30);

    align-items: center;
    gap: 2rem;

    h1 {
      color: var(--txt-red);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.04em;
    }

  }


  & > section {
    padding: 1rem 2rem;
    display: grid;
  }
}
